<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="masterwb.design.arkcongress">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ArkCongressApp"
        android:allowBackup="true"
        android:icon="@mipmap/ark_congress"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FB_APP_ID" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c5f5857b5b79da1e2f43a2657835d5a228499510" />

        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/main_title" />
        <activity
            android:name=".create_event.CreateEventActivity"
            android:label="@string/create_event_title"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".my_events.MyEventsActivity"
            android:label="@string/myevents_title"></activity>
        <activity android:name=".event_info.EventInfoActivity"></activity>
    </application>

</manifest>